<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.39/dist/katex.min.css"
      integrity="sha384-XYiNi7bZ2ylouTC7xQwllDBp1qjxKKomuDle65HByE11h1aisNv2GBIWjyvRY099"
      crossorigin="anonymous">
<script defer
        src="https://cdn.jsdelivr.net/npm/katex@0.16.39/dist/katex.min.js"
        integrity="sha384-WwbX8/fqebUVkcYsHQdkziBeXG1NoJiz9vz3XeXvxuo6RGnVoEFp7wbN5tQb3dDd"
        crossorigin="anonymous"></script>
<script defer
        src="https://cdn.jsdelivr.net/npm/katex@0.16.39/dist/contrib/auto-render.min.js"
        integrity="sha384-bjyGPfbij8/NDKJhSGZNP/khQVgtHUE5exjm4Ydllo42FwIgYsdLO2lXGmRBf5Mz"
        crossorigin="anonymous"
        onload="renderMathInElement(document.body, {
            delimiters: [
                {left: '$$',  right: '$$',  display: true},
                {left: '\\[', right: '\\]', display: true},
                {left: '\\(', right: '\\)', display: false}
            ],
            throwOnError: false
        });"></script>
